h1{
    
    color:#F5D76E;
    text-align:left;
    margin-left:240px;
    margin-bottom: 50px;
    margin-top: 200px;
    font-size:80px;
    
    

}
body{
    background: pink;
}
body{

    background-image: url("image/riya.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
p{
    color:#F5D76E;
    text-align:left;
    font-size:40px;
    margin-left:300px;
    margin-bottom: 50px;
    margin-top: -10px;

}
button {
    position: absolute;
    left: 100px;
    top: 280px;
    padding: 18px 40px;
    margin-top: 150px;
    margin-left: 28%;
    background-color: #F5D76E;
    border: none;
    border-radius: 25px;
    font-size: 18px;

}
img{
     width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid gold;
    display: block;
    margin: 20px auto;
    background-position: right;
    position: absolute;
    top: 120px;
    right: 100px;
    margin-right: 80px;
}
button:active {
    background-color:burlywood;
}