* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */

body {
    min-height: 100vh;

    background-image: url("riya.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: Arial, sans-serif;

    overflow: hidden;
}


/* Main Container */

.container {
    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 60px 100px;
}


/* Left Content */

.content {
    width: 55%;

    padding-left: 80px;
}


/* Name */

h1 {
    color: #F5D76E;

    font-size: 65px;

    margin-bottom: 25px;
}


/* Role */

p {
    color: #F5D76E;

    font-size: 32px;

    margin-bottom: 40px;
}


/* Resume Button */

button {
    padding: 18px 40px;

    background-color: #F5D76E;

    color: #0B132B;

    border: none;

    border-radius: 25px;

    font-size: 20px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


/* Button Hover */

button:hover {
    background-color: white;

    transform: scale(1.05);
}


/* Profile Image */

.profile-image {
    width: 45%;

    display: flex;

    justify-content: center;

    align-items: center;
}


.profile-image img {
    width: 350px;
    height: 350px;

    object-fit: cover;

    border-radius: 50%;

    border: 5px solid #F5D76E;
}


/* Mobile Responsive */

@media (max-width: 800px) {

    body {
        overflow: auto;
    }

    .container {
        flex-direction: column;

        justify-content: center;

        padding: 40px 20px;

        gap: 40px;
    }


    .content {
        width: 100%;

        padding-left: 0;

        text-align: center;
    }


    h1 {
        font-size: 42px;
    }


    p {
        font-size: 24px;
    }


    .profile-image {
        width: 100%;
    }


    .profile-image img {
        width: 250px;
        height: 250px;
    }

}
